h1 {
  font-size: 45px;
  font-family: papyrus;
  text-align: center;
}
h2 {
  font-size: 30px;
  font-family: papyrus;
}
p {
  font-size: 25px;
  font-family: papyrus;
}
body {
text-align: center;
background-color: lavender;

}
